.background
{
    -fx-background-image:url('background.jpg');
    -fx-background-size:cover;
}
.background1
{
    -fx-background-image:url('homepage.jpg');
    -fx-background-size:cover;
}
.button
{
    -fx-background-color: #0041C2;
    -fx-background-radius: 30;
    -fx-text-fill: white;
}
.button:hover
{
    -fx-background-color:orange;
}
.Text-field
{
    -fx-font-size: 14;
    -fx-border-color: black;
    -fx-border-width:2;
    -fx-border-radius:10;
    -fx-background-color: transparent;
    -fx-text-fill: green;
    -fx-font-size:15px;
    -fx-font-weight:bold;
}
.table-view
{
    -fx-background-color: transparent;
}
.table-view:focused
{
    -fx-background-color: transparent;
}
.table-row-cell:even
{
    -fx-background-color: #9CB071;
    -fx-text-fill: green;
    -fx-font-size:12px;
    -fx-font-weight:bold;
}
.table-row-cell:odd
{
    -fx-background-color: white;
    -fx-font-size:12px;
    -fx-font-weight:bold;
}
.table-row-cell:even
{
    -fx-background-color: #9CB071;
    -fx-text-fill: green;
    -fx-font-size:12px;
    -fx-font-weight:bold;
}
.table-row-cell:odd
{
    -fx-background-color: white;
    -fx-font-size:12px;
    -fx-font-weight:bold;
}
.label
{
    -fx-text-fill: black;
    -fx-font-size:14px;
    -fx-font-weight:bold;
}